.candidate-cards-row {
    padding-top: 10px;
}

.not-candidate {
    padding-bottom: 12px;
}

.candidate-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    font-size: 12px;
}

.candidate-card {
    margin-left: 10px;
    margin-bottom: 10px;
    min-width: 370px;
    max-width: 370px;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #cce5ff;
}

.candidate-card-tests {
    display: flex;
    flex-direction: row;
}

.candidate-card-test {
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px 7px;
    font-weight: bold;
    border-radius: 5px;
}

.candidate-card-test-pendiente {
    border: 2px solid #721c24;
}

.candidate-card-test-completo {
    border: 2px solid #155724;
}

.candidate-info {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
}

.candidate-photo {
    position: relative;
    right: 0px;
    padding: 10px;
}

.candidate-info-personal {
    position: relative;
    left: 0px;
    padding: 2px 2px;
}

.button-right-absolute {
    position: relative;
    /*border: 3px solid rgb(232, 241, 250);*/
    padding: 4px;
    margin-left: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}