.div-table {
    display: table;
    width: auto;
    /*background-color: #eee;*/
    border: 2px solid #cce5ff;
    border-spacing: 0px; /* cellspacing:poor IE support for  this */
    border-radius: 10px;
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col-first {
    width: 30px !important;
    text-align: right;
}

.div-table-col-last {
    margin-left: auto !important;
    text-align: right;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 150px;
    padding: 3px 5px;
}

.div-table-col-170 {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 170px;
    padding: 3px 5px;
}

.div-table-col-190 {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 190px;
    padding: 3px 5px;
}

.div-table-row-header {
    background-color: #ccc;
    font-weight: bold;
}


.selectionprocess-list {
    font-size: 13px;
}

.selectionprocess-row-header-primary {
    border-radius: 3px 3px 0px 0px;
}

.selectionprocess-row-header {
    display: flex;
    font-weight: bold;
    background-color: #cce5ff;
    padding: 3px 7px;
}

.dashboard-button {
    margin-bottom: 10px;
}